*.iml
.gradle
.gradle-map-agent/
.gradle-agent/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
sdk_list.txt
ksp.xml
.kotlin/
compile-out*.txt
test-out.txt
*.log
